@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Prince Rahul Naman Chandu Ajeet Sachin Sharma</p>
<p>System.ArgumentException' in System.Data.SqlClient.dll</p>
